
# PlanAhead Generated IO constraints 

NET "Clear" IOSTANDARD = LVCMOS33;
NET "CLK" IOSTANDARD = LVCMOS33;
NET "Hsync" IOSTANDARD = LVCMOS33;
NET "Leftb" IOSTANDARD = LVCMOS33;
NET "Rightb" IOSTANDARD = LVCMOS33;
NET "Sel" IOSTANDARD = LVCMOS33;
NET "Upb" IOSTANDARD = LVCMOS33;
NET "Vsync" IOSTANDARD = LVCMOS33;
NET "Downb" IOSTANDARD = LVCMOS33;
NET "Blue[3]" IOSTANDARD = LVCMOS33;
NET "Blue[2]" IOSTANDARD = LVCMOS33;
NET "Blue[1]" IOSTANDARD = LVCMOS33;
NET "Blue[0]" IOSTANDARD = LVCMOS33;
NET "Red[3]" IOSTANDARD = LVCMOS33;
NET "Red[2]" IOSTANDARD = LVCMOS33;
NET "Red[1]" IOSTANDARD = LVCMOS33;
NET "Red[0]" IOSTANDARD = LVCMOS33;
NET "Green[3]" IOSTANDARD = LVCMOS33;
NET "Green[2]" IOSTANDARD = LVCMOS33;
NET "Green[1]" IOSTANDARD = LVCMOS33;
NET "Green[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "CLK" LOC = E3;
NET "Blue[3]" LOC = D8;
NET "Blue[2]" LOC = D7;
NET "Blue[1]" LOC = C7;
NET "Blue[0]" LOC = B7;
NET "Green[3]" LOC = A6;
NET "Green[2]" LOC = B6;
NET "Green[1]" LOC = A5;
NET "Green[0]" LOC = C6;
NET "Red[3]" LOC = A4;
NET "Red[2]" LOC = C5;
NET "Red[1]" LOC = B4;
NET "Red[0]" LOC = A3;
NET "Vsync" LOC = B12;
NET "Clear" LOC = U9;
NET "Downb" LOC = V10;
NET "Hsync" LOC = B11;
NET "Leftb" LOC = T16;
NET "Rightb" LOC = R10;
NET "Sel" LOC = E16;
NET "Upb" LOC = F15;
NET "Sel" CLOCK_DEDICATED_ROUTE = FALSE;
